<header class="header">
    <nav>
        
<a class="brand" href="/" title="iLovePDF">
    <img src="/img/ilovepdf.svg" alt="iLovePDF"/>
</a>            <div class="menu">
        <span class="menu--sm"><i class="ico ico--hamburger"></i></span>
        <span class="menu--md">All PDF tools <i class="ico ico--down"></i></span>
        <ul>
            <li><a  href="/merge_pdf">Merge PDF</a></li>
            <li><a  href="/split_pdf">Split PDF</a></li>
            <li><a  href="/compress_pdf">Compress PDF</a></li>
            <li class="nav-has-dropdown">
                <span >Convert PDF<i class="ico ico--down"></i>
                </span>
                <div class="nav-dropdown">
                    <ul>
                        <li>
                            <ul>
                                <li>
                                    <div class="nav__title">Convert to PDF</div>
                                </li>
                                <li><a  href="/jpg_to_pdf"><i  class="ico ico--jpgpdf"></i>JPG to PDF</a></li>
                                <li><a  href="/word_to_pdf"><i class="ico ico--wordpdf"></i>WORD to PDF</a></li>
                                <li><a  href="/powerpoint_to_pdf"><i class="ico ico--powerpointpdf"></i>POWERPOINT to PDF</a></li>
                                <li><a  href="/excel_to_pdf"><i class="ico ico--excelpdf"></i>EXCEL to PDF</a></li>
                                <li><a  href="/html-to-pdf"><i class="ico ico--htmlpdf"></i> HTML to PDF</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li><div class="nav__title">Convert from PDF</div></li>
                                <li><a  href="/pdf_to_jpg"><i class="ico ico--pdfjpg"></i> PDF to JPG</a></li>
                                <li><a  href="/pdf_to_word"><i class="ico ico--pdfword"></i> PDF to WORD</a></li>
                                <li><a  href="/pdf_to_powerpoint"><i class="ico ico--pdfpowerpoint"></i> PDF to POWERPOINT</a></li>
                                <li><a  href="/pdf_to_excel"><i class="ico ico--pdfexcel"></i> PDF to EXCEL</a></li>
                                <li><a  href="/convert-pdf-to-pdfa"><i  class="ico ico--pdfa"></i> PDF to PDF/A</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="menu__main">
            <li class="nav-has-dropdown nav-has-dropdown--full">
                <span  class="hide--sm" >All PDF tools<i class="ico ico--down"></i>
                </span>
                <div class="nav-dropdown nav-dropdown--full">
                    <ul>
                        <li>
                            <ul>
                                <li><div class="nav__title">Organize PDF</div></li>
                                <li><a  href="/merge_pdf"><i class="ico ico--merge"></i> Merge PDF</a></li>
                                <li><a  href="/split_pdf"><i class="ico ico--split"></i> Split PDF</a></li>
                                <li><a  href="/remove-pages"><i class="ico ico--remove"></i> Remove pages</a></li>
                                <li><a href="/split_pdf#split,extract"><i class="ico ico--extract"></i> Extract pages</a></li>
                                <li><a  href="/organize-pdf"><i class="ico ico--organize"></i> Organize PDF</a></li>
                                <li><a  href="/scan-pdf"><i  class="ico ico--scan"></i> Scan to PDF</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li><div class="nav__title">Optimize PDF</div></li>
                                <li><a  href="/compress_pdf"><i class="ico ico--compress"></i> Compress PDF</a></li>
                                <li><a  href="/repair-pdf"><i class="ico ico--repair"></i> Repair PDF</a></li>
                                <li><a  href="/ocr-pdf"><i class="ico ico--pdfocr"></i> OCR PDF</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li><div class="nav__title">Convert to PDF</div></li>
                                <li><a  href="/jpg_to_pdf"><i class="ico ico--jpgpdf"></i> JPG to PDF</a></li>
                                <li><a  href="/word_to_pdf"><i class="ico ico--wordpdf"></i>WORD to PDF</a></li>
                                <li><a  href="/powerpoint_to_pdf"><i class="ico ico--powerpointpdf"></i> POWERPOINT to PDF</a></li>
                                <li><a  href="/excel_to_pdf"><i class="ico ico--excelpdf"></i> EXCEL to PDF</a></li>
                                <li><a  href="/html-to-pdf"><i class="ico ico--htmlpdf"></i> HTML to PDF</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li><div class="nav__title">Convert from PDF</div></li>
                                <li><a  href="/pdf_to_jpg"><i class="ico ico--pdfjpg"></i> PDF to JPG</a></li>
                                <li><a  href="/pdf_to_word"><i class="ico ico--pdfword"></i>PDF to WORD</a></li>
                                <li><a  href="/pdf_to_powerpoint"><i class="ico ico--pdfpowerpoint"></i> PDF to POWERPOINT</a></li>
                                <li><a  href="/pdf_to_excel"><i class="ico ico--pdfexcel"></i> PDF to EXCEL</a></li>
                                <li><a href="/convert-pdf-to-pdfa"><i class="ico ico--pdfa"></i> PDF to PDF/A</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li><div class="nav__title">Edit PDF</div></li>
                                <li><a  href="/rotate_pdf"><i class="ico ico--rotate"></i>Rotate PDF</a></li>
                                <li><a  href="/add_pdf_page_number"><i class="ico ico--pagenumber"></i> Add page numbers</a></li>
                                <li><a  href="/pdf_add_watermark"><i class="ico ico--watermark"></i> Add watermark</a></li>
                                <li><a  href="/crop-pdf"><i class="ico ico--pdfcrop"></i>Crop PDF</a></li>
                                <li><a  href="/edit-pdf"><i class="ico ico--editpdf"></i>Edit PDF</a></li>
                                <li><a  href="/pdf-forms"><i class="ico ico--formfiller"></i>PDF Forms</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li><div class="nav__title">PDF security</div></li>
                                <li><a  href="/unlock_pdf"><i class="ico ico--unlock"></i> Unlock PDF</a></li>
                                <li><a  href="/protect-pdf"><i class="ico ico--protect"></i>Protect PDF</a></li>
                                <li><a  href="/sign-pdf"><i class="ico ico--sign"></i>Sign PDF</a></li>
                                                                <li><a  href="/redact-pdf"><i class="ico ico--redact"></i> Redact PDF</a></li>
                                <li><a  href="/compare-pdf"><i class="ico ico--pdfcompare"></i> Compare PDF</a></li>
                            </ul>
                        </li>
                                                <li>
                            <ul>
                                <li><div class="nav__title">PDF Intelligence</div></li>
                                                                    <li><a  href="/pdf-summarize"><i class="ico ico--summarize"></i> AI Summarizer</a></li>
                                                                                                    <li><a  href="/translate-pdf"><i class="ico ico--translate"></i> Translate PDF</a></li>
                                                                                                                                    <li><a  href="/pdf-to-markdown"><i class="ico ico--pdfmarkdown"></i> PDF to Markdown</a></li>
                                                            </ul>
                        </li>
                                                                    </ul>
                </div>
            </li>
        </ul>
    </div>
            <div class="nav-actions">
                        <a data-rel="user-action" href="/login"
           class="link--secondary hide--sm">Login</a>
        <a data-rel="user-action" href="/register"
           class="btn btn--sm hide--sm">Sign up</a>
                    <ul>
    <li class="nav-has-dropdown">
        <span><i class="ico ico--more"></i></span>
        <div class="nav-dropdown nav-dropdown--left nav-dropdown--company">
            <ul class="menu-comp">
                <li>
                    <div class="menu-comp__products">
                        <ul class="nav__group">
                            <li class="nav__title">Other products</li>
                                                                                    
<li class="navbar__item navbar__item--md">
    <a href="https://www.iloveimg.com" title="iLoveIMG">                        <div class="navbar__item__icon"><i class="ico ico--iloveimg"></i></div>        <div class="navbar__item__content">            <div class="navbar__item__title">iLoveIMG</div>
            <div class="navbar__item__description">Effortless image editing</div>        </div>                <div class="navbar__item__go">
            <i class="ico ico--arrow-r"></i>
        </div>
            </a></li>                                                        
<li class="navbar__item navbar__item--md">
    <a href="https://www.ilovesign.com" title="iLoveSign">                        <div class="navbar__item__icon"><i class="ico ico--ilovesign"></i></div>        <div class="navbar__item__content">            <div class="navbar__item__title">iLoveSign</div>
            <div class="navbar__item__description">e-Signing made simple</div>        </div>                <div class="navbar__item__go">
            <i class="ico ico--arrow-r"></i>
        </div>
            </a></li>                            
<li class="navbar__item navbar__item--md">
    <a href="https://www.iloveapi.com" title="iLoveAPI">                        <div class="navbar__item__icon"><i class="ico ico--iloveapi"></i></div>        <div class="navbar__item__content">            <div class="navbar__item__title">iLoveAPI</div>
            <div class="navbar__item__description">Document automation for developers</div>        </div>                <div class="navbar__item__go">
            <i class="ico ico--arrow-r"></i>
        </div>
            </a></li>                            
<li class="navbar__item navbar__item--sm navbar__item--sub">
    <a href="https://www.iloveapi.com/integrations" title="Integrations">                        <div class="navbar__item__icon"><i class="ico ico--integrations"></i></div>        <div class="navbar__item__content">            <div class="navbar__item__title">Integrations</div>
            <div class="navbar__item__description">Zapier, Make, Wordpress...</div>        </div>                <div class="navbar__item__go">
            <i class="ico ico--arrow-r"></i>
        </div>
            </a></li>                        </ul>
                    </div>
                </li>
                                <li>
                    <div class="menu-comp__business">
                        <ul class="nav__group">
                            <li class="nav__title">Solutions</li>
                            
<li class="navbar__item navbar__item--lg">
    <a href="/business" title="Business">                        <div class="navbar__item__icon"><i class="ico ico--business"></i></div>        <div class="navbar__item__content">            <div class="navbar__item__title">Business</div>
            <div class="navbar__item__description">Streamlined PDF editing and workflows for business teams</div>        </div>                <div class="navbar__item__go">
            <i class="ico ico--arrow-r"></i>
        </div>
            </a></li>                        </ul>
                        <ul class="nav__group">
                            <li class="nav__title">Applications</li>
                            
<li class="navbar__item navbar__item--md">
    <a href="/desktop" title="Desktop App">                        <div class="navbar__item__icon"><i class="ico ico--desktop"></i></div>        <div class="navbar__item__content">            <div class="navbar__item__title">Desktop App</div>
            <div class="navbar__item__description">Available for Mac and Windows</div>        </div>                <div class="navbar__item__go">
            <i class="ico ico--arrow-r"></i>
        </div>
            </a></li>                            
<li class="navbar__item navbar__item--md">
    <a href="/mobile" title="Mobile App">                        <div class="navbar__item__icon"><i class="ico ico--mobile"></i></div>        <div class="navbar__item__content">            <div class="navbar__item__title">Mobile App</div>
            <div class="navbar__item__description">Available for iOS and Android</div>        </div>                <div class="navbar__item__go">
            <i class="ico ico--arrow-r"></i>
        </div>
            </a></li>                        </ul>
                    </div>
                </li>
                                <li>
                    <div class="menu-comp__general">
                        <ul>
                            
<li class="navbar__item navbar__item--xs">
    <a href="/pricing" title="Pricing">                        <div class="navbar__item__icon"><i class="ico ico--pricing"></i></div>                    <div class="navbar__item__title">Pricing</div>
                                </a></li>                            
<li class="navbar__item navbar__item--xs">
    <a href="/help/security" title="Security">                        <div class="navbar__item__icon"><i class="ico ico--security"></i></div>                    <div class="navbar__item__title">Security</div>
                                </a></li>                            
<li class="navbar__item navbar__item--xs">
    <a href="/features" title="Features">                        <div class="navbar__item__icon"><i class="ico ico--features"></i></div>                    <div class="navbar__item__title">Features</div>
                                </a></li>                            
<li class="navbar__item navbar__item--xs">
    <a href="/help/about" title="About us">                        <div class="navbar__item__icon"><i class="ico ico--about"></i></div>                    <div class="navbar__item__title">About us</div>
                                </a></li>                            <li class="divider divider--break"></li>
                            <li class="nav-has-dropdown">
                                
<div class="navbar__item navbar__item--xs">
    <div>                        <div class="navbar__item__icon"><i class="ico ico--chevron-l"></i></div>                    <div class="navbar__item__title">Help</div>
                                </div></div>                                <ul class="nav-dropdown">
                                    
<li class="navbar__item navbar__item--xs">
    <a href="/help/faq" title="FAQ">                        <div class="navbar__item__icon"><i class="ico ico--faq"></i></div>                    <div class="navbar__item__title">FAQ</div>
                                </a></li>                                    
<li class="navbar__item navbar__item--xs">
    <a href="/help/documentation" title="Tools">                        <div class="navbar__item__icon"><i class="ico ico--documentation"></i></div>                    <div class="navbar__item__title">Tools</div>
                                </a></li>                                    
<li class="navbar__item navbar__item--xs">
    <a href="/help/legal" title="Legal &amp; Privacy">                        <div class="navbar__item__icon"><i class="ico ico--legal"></i></div>                    <div class="navbar__item__title">Legal &amp; Privacy</div>
                                </a></li>                                    
<li class="navbar__item navbar__item--xs">
    <a href="/contact" title="Contact">                        <div class="navbar__item__icon"><i class="ico ico--contact"></i></div>                    <div class="navbar__item__title">Contact</div>
                                </a></li>                                </ul>
                            </li>
                            <li class="nav-has-dropdown">
                                
<div class="navbar__item navbar__item--xs">
    <div>                        <div class="navbar__item__icon"><i class="ico ico--chevron-l"></i></div>                    <div class="navbar__item__title">Language</div>
                                </div></div>                                <div
                                    class="nav-dropdown lang"><span class="lang__current">
    <i class="ico ico--world"></i>
    English <i class="ico ico--down-w"></i>
</span>
<ul class="lang__menu">
    <li><a href="/"><svg aria-hidden="true" width="12" height="12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z" class=""></path></svg> English</a></li>
                                    <li><a href="/es"> Español</a></li>
                                <li><a href="/fr"> Français</a></li>
                                <li><a href="/de"> Deutsch</a></li>
                                <li><a href="/it"> Italiano</a></li>
                                <li><a href="/pt"> Português</a></li>
                                <li><a href="/ja"> 日本語</a></li>
                                <li><a href="/ru"> Pусский</a></li>
                                <li><a href="/ko"> 한국어</a></li>
                                <li><a href="/zh-cn"> 中文 (简体)</a></li>
                                <li><a href="/zh-tw"> 中文 (繁體)</a></li>
                                <li><a href="/ar"> العربية</a></li>
                                <li><a href="/bg"> Български</a></li>
                                <li><a href="/ca"> Català</a></li>
                                <li><a href="/nl"> Nederlands</a></li>
                                <li><a href="/el"> Ελληνικά</a></li>
                                <li><a href="/hi"> हिन्दी</a></li>
                                <li><a href="/id"> Bahasa Indonesia</a></li>
                                <li><a href="/ms"> Bahasa Melayu</a></li>
                                <li><a href="/pl"> Polski</a></li>
                                <li><a href="/sv"> Svenska</a></li>
                                <li><a href="/th"> ภาษาไทย</a></li>
                                <li><a href="/tr"> Türkçe</a></li>
                                <li><a href="/uk"> Українська</a></li>
                                <li><a href="/vi"> Tiếng Việt</a></li>
                                <li><a href="/sw"> Kiswahili</a></li>
            </ul>
</div>
                            </li>
                                                        <li class="li-show-sm">
                                <a href="/login" class="btn btn--secondary show--sm">Login</a>
                                <a href="/register" class="btn show--sm">Sign up</a>
                            </li>
                                                    </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>
        </div>
    </nav>
</header>